@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  scroll-behavior: smooth;

}

body{
  background-color: #121212 !important;
}

/* Header CSS */
nav {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  margin-bottom: 2rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
nav h1 {
  font-size: 2.5rem;
  font-family: "Lora", sans-serif;
  font-weight: 700;
}

#nav-logo {
  width: 100px;
  height: 100px;
}
