@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: monospace !important;
  height: 170vh;
  background-image: linear-gradient(to right top, #0c182a, #011e29, #082223, #17241d, #23261d);
}
