@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
body {
  /* height: 100vh; */
  /* background-image: linear-gradient(to right top, #0c182a, #011e29, #082223, #17241d, #23261d); */
  background-color: white;

}
.mandatory{
  padding-left: 3px;
  color: red;
  font-weight: bold;
}